* {
    font-size: 20px;
    margin-left: 10px;
}

img {
    width: 200px;
    padding: 20px 0px 20px 0px;
}
.hacker {
    font-family: helvetica;
    position:left
    
}
.design {
    font-family: "book antique";

}
.dribble {
    font-family: "times";

}
